{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
  <h2>Editar Perfil</h2>
  <form action="/cambiar_datos" method="POST">
    <div class="form-group">
      <label for="Nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="{{nombre}}">
    </div>
    <div class="form-group">
      <label for="Apellido">Apellido</label>
      <input type="text" class="form-control" id="apellido" name="apellido" placeholder="{{apellido}}">
    </div>
    <div class="form-group">
      <label for="Edad">Edad:</label>
      <input type="text" class="form-control" id="edad" name="edad" placeholder="{{edad}}">
    </div>
    <div class="form-group">
      <label for="Genero">Genero:</label>
      <input type="text" class="form-control" id="genero" name="genero" placeholder="{{genero}}">
    </div>
    <div class="form-group">
      <label for="Telefono">Telefono:</label>
      <input type="text" class="form-control" id="telefono" name="telefono" placeholder="{{telefono}}">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>
</div>

  {% endblock %}