{% extends "layout.html" %} {% block content %}

<div
  id="intro-example"
  class="p-5 text-center bg-image d-flex align-items-center justify-content-center"
  style="
    background-image: url('../static/imag/Surgical-options-to-get-round-and-firm-buttocks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Bienvenido {{ user }}</h1>
        <h5 class="mb-4">
          Este sistema le permite gestionar sus turnos de manera eficiente.
          Puede reservar citas con profesionales, ver su historial de turnos y
          editar su perfil según sea necesario.
        </h5>
        <a
          class="btn btn-outline-light btn-lg m-2"
          href="{{url_for('turnos')}}"
          role="button"
          >Turnos</a
        >
      </div>
    </div>
  </div>
</div>

<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 650px;
    }
  }
</style>

{% endblock %}
